* {
  transition: none;
  box-shadow: none;
  font-family: GohuFont uni14 Nerd Font Propo;
  font-size: 14px;
  color: #f8f8f2;
}

#waybar {
  margin-top: 14px;
  background-color: rgb(40, 42, 54); 
  border-radius: 12px;
  border: 2px solid #bd93f9;
}

#workspaces {
  margin: 5 3px;
  color: transparent;
}

#workspaces button {
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 25px;
  background-color: rgba(253, 110, 252,1); 
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: rgba(255, 85, 85,0.8);
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: rgba(68,71,90,0.4);
}

#tray * {
  padding: 0 6px;
  border-left: 1px rgb(68, 71, 90);
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #clock, #custom-updates {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #custom-updates {
  color:rgba(165,2,251,1)
}

#custom-updates, #idle_inhibitor {
  font-size: 16px;
}

#clock {
  margin: 4px 2px;
  color: rgba(13, 239, 255,1); 
}

#mpd *{
  min-width: 10px;
  font-size: 11px;
  font-family: JetBrainsMono;
}

#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#custom-recorder, #custom-audiorec {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: rgba(175,65,84,0.8);
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: #800020;
}

#custom-logo {

  font-size: 20px;
  min-width: 40px;
  color: #8be9fd;
}

#custom-updates.updates {
    color: #00CF52;
}

#custom-updates.new-updates {
    color: #4CDD85;
}
