* {
  transition: none;
  box-shadow: none;
  font-family: BigBlueTermPlus Nerd Font;
  font-size: 12.5px;
  color: #f8f8f2;
}

#waybar {
  margin-top: 14px;
  background: rgb(40, 42, 54);
  border-radius: 12px;
  border: 2px solid #bd93f9;
}

#workspaces {
  margin: 5 3px;
  color: transparent;
}

#workspaces button {
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 10px;
  background-color: rgba(238,138,238,0.8);
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: rgba(255, 85, 85,0.8);
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: rgba(68,71,90,0.4);
}

#tray * {
  padding: 0 6px;
  border-left: 1px rgb(68, 71, 90);
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #clock, #custom-updates {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpd *{
  min-width: 10px;
  font-size: 11px;
  font-family: JetBrainsMono;
}

#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#custom-recorder, #custom-audiorec {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: rgba(175,65,84,0.8);
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: #800020;
}

#custom-logo {

  font-size: 24px;
  min-width: 40px;
  color: #8be9fd;
}

#custom-updates.updates {
    color: #00CF52;
}

#custom-updates.new-updates {
    color: #4CDD85;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.Sunny, #custom-weather.MostlySunny, #custom-weather.MostlyClear {
    color: #c2ca76;
}

#custom-weather.PartlyCloudy, #custom-weather.Cloudy {
    color: #c2ddda;
}

#custom-weather.Showers, #custom-weather.FewShowers, #custom-weather.LightRain, #custom-weather.Thunderstorms, #custom-weather.ScatteredThunderstorms {
    color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}
